@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    background-color: #001623;
    margin: 0;
    padding: 0;
    font-family: "Oswald"; 
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.menuNavegacion{
    width: 100%;
    text-align: center;
}

.btnNav{
    color: #001623;
    background: #ffcb05;
    border: 2px solid #ffcb05;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 10px 25px;
    font-size: 16px;
}

.btnNav:hover{
    background: transparent;
    color: #fefefe;
    font-weight: 500;
}

.catalogo{
    background: #fef4f4;
    border-radius: 25px;
    margin: 30px 30px auto;
    padding: 20px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.espacioCatalogo{
    box-sizing: border-box;
    width: 100%;
    box-shadow: -3px 0px 54px -20px rgba(0,0,0,0.54);
    border-radius: 25px;
    margin: 5px 5px auto;
    padding: 15px 15px;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: (1,1fr);
    grid-template-rows: (4,1fr);
}

.espacioCatalogo > .espacioImg{
    grid-column: 1;
    grid-row: 1;
}

.espacioCatalogo > .espacioNum{
    grid-column: 1;
    grid-row: 2;
}

.espacioCatalogo > .espacioName{
    grid-column: 1;
    grid-row: 3;
}

.espacioCatalogo > .estiloVerMas{
    color: #fefefe;
    background: #001623;
    border: 1px solid #001623;
    border-radius: 25px;
    padding: 5px 5px;
    grid-column: 1;
    grid-row: 4;
}

.estiloVerMas:hover{
    color: #001623;
    background: transparent;
}

.espacioModal{
    position: fixed; /* La misma posición */
    z-index: 1; /*Cuando varios elementos se superponen, determina cuales cubren a otros */
    padding: 10px 10px;
    margin: 20px 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
}

.estiloModal{
    color: #001623;
    font-size: 18px;
    font-weight: 300;
}

.estiloCerrar{
    color: #001623;
    background: transparent;
    border: 2px solid #001623;
    border-radius: 28px;
    padding: 2px 15px;
}

.estiloCerrar:hover{
    background: #001623;
    color: #fefefe;
}

@media (max-width: 640px) {
    .catalogo{
        grid-template-columns: repeat(1,1fr);
    }

    .btnNav{
        font-size: 11px;
    }

}
    
@media (min-width: 640px) and (max-width: 1024px) {
    .catalogo{
        grid-template-columns: repeat(2,1fr);
    }

    .btnNav{
        font-size: 13px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px){

    .catalogo{
        grid-template-columns: repeat(4,1fr);
    }

    .btnNav{
        font-size: 15px;
    }
}

@media (min-width: 1200px) {

    .catalogo{
        grid-template-columns: repeat(5,1fr);
    }

    .btnNav{
        font-size: 16px;
    }
}