@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    background-color: #001623;
    margin: 0;
    padding: 0;
    font-family: "Oswald"; 
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start{
    background-color:  #001623;
    transition: background-color .5s;
    background-image: url(../img/logo-1.png);
    background-size: cover;
    width: auto;
    padding: 150px 250px;
    background-position: center;
    border: none;
    margin: 10px;
    
}

.start:hover{
    background-image: url(../img/logo-1.png);
    background-color: gold;
}

.navigationMenu{
    width: 100%;
    text-align: center;
    margin: 10px;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.navBtn{
    color: #001623;
    background: #ffcb05;
    border: 2px solid #ffcb05;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 10px 25px;
    font-size: 16px;
    justify-content: center;
    font-weight: 300;
}

.navBtn:hover{
    background: transparent;
    color: #fefefe;
    font-weight: 400;
}

.catalogue, .search{
    background: #fefefe;
    border-radius: 25px;
    margin: 30px 30px auto;
    padding: 20px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.catalogueSpace, .pokemonSpace{
    box-sizing: border-box;
    width: 100%;
    box-shadow: -3px 0px 54px -20px rgba(0,0,0,0.54);
    border-radius: 25px;
    margin: 5px 5px auto;
    padding: 15px 15px;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: (1,1fr);
    grid-template-rows: (4,1fr);
}

.imgSpace{
    grid-column: 1;
    grid-row: 1;
}

.numSpace{
    grid-column: 1;
    grid-row: 2;
}

.nameSpace{
    grid-column: 1;
    grid-row: 3;
}

.seeMoreStyle{
    color: #fefefe;
    background: #001623;
    border: 1px solid #001623;
    border-radius: 25px;
    padding: 5px 5px;
    grid-column: 1;
    grid-row: 4;
}

.seeMoreStyle:hover{
    color: #001623;
    background: transparent;
}

.modalSpace{
    position: fixed; /* La misma posición */
    z-index: 1; /*Cuando varios elementos se superponen, determina cuales cubren a otros */
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.characterItems{
   background: #fefefe;
   width: 20%;
   height: 60%;
   padding: 2%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 15%;
}

.modalStyle{
    color: #001623;
    font-size: 18px;
    font-weight: 300;
}

.closeStyle{
    color: #001623;
    background: transparent;
    border: 2px solid #001623;
    border-radius: 28px;
    padding: 2px 15px;
}

.closeStyle:hover{
    background: #001623;
    color: #fefefe;
}

.navigationSearch {
    background: #fefefe;
    border-radius: 25px;
    margin: 30px 30px auto;
    padding: 20px 20px;
}

@media (max-width: 640px) {
    .catalogue, .search{
        grid-template-columns: repeat(1,1fr);
    }

    .navBtn{
        font-size: 11px;
    }
}
    
@media (min-width: 640px) and (max-width: 1024px) {
    .catalogue, .search{
        grid-template-columns: repeat(2,1fr);
    }

    .navBtn{
        font-size: 13px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px){
    .catalogue, .search{
        grid-template-columns: repeat(4,1fr);
    }

    .navBtn{
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    .catalogue, .search{
        grid-template-columns: repeat(5,1fr);
    }

    .navBtn{
        font-size: 16px;
    }
}

.calculation{
    color: white;
}